@import "tailwindcss";

:root {
    --primary-color: #4CAF50;   /* Green */
    --secondary-color: #FF5733; /* Red-Orange */
    --background-color: #F5F5F5;
    --text-color: #333333;
  }

  html {
    scroll-behavior: smooth;
    
  }

  .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page-not-found{
  background-image: url('./assets/PageNotFoundImage.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width:640px){
  .page-not-found{
    background-image: linear-gradient(to bottom, #a0c4ff, #8ecae6, #7aa2cc);
  }
}


  